html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

body {
    -webkit-text-size-adjust: none;
    font-family: sans-serif;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

    .swipe-wrap > div {
        float: left;
        width: 100%;
        position: relative;
    }

#nav_Index,#workDetail_nav_Index {
    position: relative;
    max-width: 680px;
    margin: 7px auto 0;
}

.position {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.position li {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ccc;
    margin: 0px;
    cursor: pointer;
}

.position li.on {
    box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
    background-color: #1293dc;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
    background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
    background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
    background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
    background-image: -o-linear-gradient(top,#1293dc,#0f6297);
    background-image: linear-gradient(top,#1293dc,#0f6297);
}

.avatar {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin: 10px;
    width: 60px;
    height: 60px;
}

.yuan {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    display: block;
    margin: 10px 0 0 10px !important;
    width: 60px;
    height: 60px;
}

.smallYuan {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    display: block;
    width: 50px;
    height: 50px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group .ui-input-text {
        margin: 0;
        border-left: none;
        border-radius: 10px;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 16px;
        display: table-cell;
        width: 100%;
    }

.input-group .ui-link {
        width: 100%;
    }

.input-group-addon:first-child {
    border-right: 0;
}

.input-group-addon img {
    height: 16px;
    width: 16px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: middle;
}

input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control .ui-link {
    display: table-cell;
}

.btnActive {
    background-color: white !important;
    color: red !important;
    border-radius: 5px;
}

.btnDeactive {
    border-radius: 5px;
}

.ui-listview .ui-li-aside {
    right: 1em;
}

.ui-listview .ui-li-aside1 {
    position: absolute;
    top: 3em;
    right: 1em;
    margin: 0;
    text-align: right;
}

.ui-listview .ui-li-aside2 {
    position: absolute;
    top: 5em;
    right: 1em;
    margin: 0;
    text-align: right;
}

.ui-icon-order:after {
    background-image: url("../mockImg/iconfont-sortDefault.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 18px 18px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-order-asc:after {
    background-image: url("../mockImg/iconfont-sortAsc.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 18px 18px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-order-desc:after {
    background-image: url("../mockImg/iconfont-sortDesc.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 18px 18px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-down1:after {
    background-image: url("../mockImg/iconfont-xiangxia.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-size: 18px 18px;
    background-color: none;
    background-color:transparent
}

.ui-icon-filter:after {
    background-image: url("../mockImg/iconfont-filte.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 18px 18px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-uncheck:after {
    background-image: url("../mockImg/iconfont-checkbox-cycle.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 24px 24px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-checked:after {
    background-image: url("../mockImg/iconfont-checkbox-checked-cycle.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-color: white;
    background-size: 24px 24px;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-arrow:after {
    background-image: url("../mockImg/iconfont-arrow.png"); /**你的图片，路径是相对于当前使用文件可以访问到的*/
    background-size: 18px 18px;
    background-color: white;
    padding-right: 2em;
    border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/
}

.ui-icon-back:after {
	background-image: url('../mockImg/back.png');
    background-size: 18px 18px;
    background-color: none;
    background-color:transparent
}

#pageWorkDetail .ellipse {
    padding: 4px;
    border: 1px solid #dedede;
    background: #ffffff;
    -moz-border-radius: 15px; /* Gecko browsers */
    -webkit-border-radius: 25px; /* Webkit browsers */
    border-radius: 15px; /* W3C syntax */
    -moz-box-shadow: 1px 1px 3px #909090;
    -webkit-box-shadow: 1px 1px 3px #909090;
    box-shadow: 1px 1px 3px #909090;
}

.divContent {
    border: #f2ecec 1px solid;
    background: #fbf7f7;
    padding: 5px;
    color: #333;
    -moz-box-shadow: 1px 1px 3px #909090;
    -webkit-box-shadow: 1px 1px 3px #909090;
    box-shadow: 1px 1px 3px #909090;
}

.photopopup {
    border: #f2ecec 1px solid;
    background: #fbf7f7;
    padding: 5px;
    color: #333;
    -moz-box-shadow: 1px 1px 3px #909090;
    -webkit-box-shadow: 1px 1px 3px #909090;
    box-shadow: 1px 1px 3px #909090;
}

#timeControl {
    position: fixed;
    display: none;
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    z-index: 1002;
}

#divGridTimes div {
    height: 60px;
}

#pageList_searchControl {
    position: absolute;
    display: none;
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    z-index: 1002;
}

#backgroundDiv, #pageWorkDetail_backgroundDiv {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    opacity: 0.5;
}

.centerTd {
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    FONT-FAMILY: Lato, sans-serif;
    width: 25%;
}

.rightTd {
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
    font-size: large;
    FONT-FAMILY: 黑体;
    width: 25%;
}

.availableTdTitle {
    color: #008B8B;
}

.availableTd {
    background-color: #008B8B;
    color: #ffffff;
}

.worksDiv {
    font-size: small;
    padding-top: 3px;
}

.divLoadMore {
    width: 100%;
    text-align: center;
}

.divLoadMore a {
    width: 80%;
}

/** ----------------The start of loading more plugin style----------------**/
#pageList_workerListWrapper, #pageList_guanfangWorkerListWrapper, #pageList_daodianWorkerListWrapper {
    position: absolute;
    z-index: 1;
    top: 170px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageWorkSearch_workListWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageWorkerSearch_workerListWrapper {
    position: absolute;
    z-index: 1;
    top: 40px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageCommentList_commentListWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageCunponList_availableCunponListWrapper {
    position: absolute;
    z-index: 1;
    top: 115px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageCunponList_unVailableCunponListWrapper {
    position: absolute;
    z-index: 1;
    top: 115px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pagePackageList_availableCunponListWrapper, #pagePackageList_unVailableCunponListWrapper {
    position: absolute;
    z-index: 1;
    top: 115px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageWorkerDetail_workListWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#pageOrders_orderListWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

/*#pageStoreUpList_workListWrapper, #pageStoreUpList_workerListWrapper {
    position: absolute;
    z-index: 1;
    top: 115px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}*/

#pageWorkerDetailWithComments_workListWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#pullUp {
    display:none;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullUp .pullUpIcon {
    /*display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../mockImg/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;*/
}

#pullUp .pullUpIcon {
    /*-webkit-transform: rotate(-180deg) translateZ(0);
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../mockImg/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;*/
}

#pullUp.flip .pullUpIcon {
    /*-webkit-transform: rotate(0deg) translateZ(0);*/
}

#pullUp.loading .pullUpIcon {
    /*display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../mockImg/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;*/
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

/** ----------------The end of loading more plugin style----------------**/

/*.pageList-category3 {
    background-color:white; 
    font-weight:normal
}

.pageList-category3-active {
    background-color:white; 
}*/

.noItemClass {
    text-align: center;
    padding-top: 20%;
    font-size: small;
}

/**
 * 给订单图片加padding.
 */
#pageOrderStatus_workDetail .ui-li-has-thumb, #pageConfirmOrder_workDetail .ui-li-has-thumb{
    padding-bottom:22px;
    background-color:white;
}

#pageWorkSearch_workList .ui-li-has-thumb, #pageWorkerDetail_workList .ui-li-has-thumb, #pageStoreUpList_workList .ui-li-has-thumb {
    padding-bottom: 22px;
}

#pageWorkSearch_workList #productId span, #pageWorkerDetail_workList #productId span, #pageStoreUpList_workList #productId span {
    font-weight: bold;
    padding-left: 5px;
    color: #e82323;
}

#pageStatement a
{
    color:red;
}

.div-yuan {
    background-color: rgba(27, 187, 154, 1);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    -moz-box-shadow: 1px 1px 3px #909090;
    -webkit-box-shadow: 1px 1px 3px #909090;
    box-shadow: 1px 1px 3px #909090;
    color: white;
    font-weight: bold;
    opacity:0.9;
}

.div-yuan-active {
    background-color: rgba(238, 72, 54, 1);
}